<div class="p-8 max-w-3xl mx-auto">
  <h1 class="font-poppins text-3xl font-bold text-rojo-carmesi mb-8">
    Nueva Ciudad
  </h1>
  <div class="bg-white p-8 rounded-xl shadow-md">
    <%= render "form", city: @city, button_text: "Crear Ciudad" %>
  </div>
</div>