<div class="bg-white p-6 rounded-xl shadow-md">
  <h1 class="font-poppins text-3xl font-bold text-rojo-carmesi mb-6">
    Calendario de Citas
  </h1>

  <%# Preparamos los datos para FullCalendar %>
  <% 
    events = @appointments.map do |appt|
      if appt.canceled?
        event_color = '#dc3545' # Rojo para canceladas
      elsif appt.seller.present?
        event_color = color_for_seller(appt.seller) # Color del vendedor
      else
        event_color = '#808080' # Gris para citas sin vendedor
      end
      
      {
        title: appt.title,
        start: appt.start_time.iso8601,
        end: appt.end_time.iso8601,
        extendedProps: {
          clientPath: client_path(appt.client)
        },
        backgroundColor: event_color,
        borderColor: event_color
      }
    end
  %>

  <%# El div que el controlador Stimulus usará para renderizar el calendario %>
  <div 
    data-controller="calendar"
    data-calendar-events-value="<%= events.to_json %>"
  ></div>
</div>

<%= turbo_frame_tag "slideover" %>


