<div class="bg-white p-6 rounded-xl shadow-md">
  <h1 class="font-poppins text-2xl font-bold text-negro-onix mb-4">Editar llamada</h1>
  <%= render "form", call: @call, button_text: "Actualizar llamada" %>
</div>