<div class="p-8 max-w-2xl mx-auto">
  <h1 class="font-poppins text-3xl font-bold text-rojo-carmesi mb-8">
    Nuevo Usuario
  </h1>
  <div class="bg-white p-8 rounded-xl shadow-md">
    <%= render 'form', user: @user, button_text: 'Crear Usuario' %>
  </div>
</div>